# Excel temporary files
~$*.xls*
*.xlk

# Excel backup files
*.xlsm.bak
*.xlsb.bak
*.xlsx.bak

# Windows thumbnail cache
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# VS Code
.vscode/

# Office temp files
~*.tmp
